<br>
<h2>Edit Info</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<br>
<table>
    <tr>
  <div class="field">
    <td>Name</td></td>
    <td><%= f.text_field :name %></td>
  </div>
  </tr>
  
  <tr>
  <div class="field">
    <td>Phone</td></td>
    <td><%= f.text_field :phone %></td>
  </div>
  </tr>
  
  <tr>
  <div class="field">
    <td>Address</td></td>
    <td><%= f.text_field :address %></td>
  </div>
  </tr>
  
  <tr>
  <div class="field">
    <td>Email</td>
    <td><%= f.email_field :email %></td>
  </div>
  </tr>
</table>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    Password<br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %><br />
    <small class="text-form text-muted">Leave blank if you don't want to make changes</small>

  </div>

  <div class="field">
    Password confirmation<br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    Current password<br />
    <%= f.password_field :current_password, autocomplete: "current-password" %><br />
    <small class="text-form text-muted">We need your current password to confirm changes</small><br />
  </div>

  <div class="actions">
    <%= f.submit "Make changes" %>
  </div>
<% end %>

<hr>
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
<%= link_to "Back", :back %>
