<%= form_with(model: food, local: true) do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
        <% food.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <br>
    <table>
        <tr>
            <div class="field">
                <td><%= form.label :name %></td>
                <td><%= form.text_field :name %></td>
            </div>
        </tr>
        <tr>
          <div class="field">
            <td><%= form.label :number_of_food %></td>
            <td><%= form.number_field :number_of_food %></td>
          </div>
        </tr>
        <tr>
            <div class="field">
                <td><%= form.label :image %></td>
                <td><%= form.file_field :image %></td>
             </div>
        </tr>
        <tr>
            <div class="field">
                <td><%= form.label :description %></td>
                <td><%= form.text_area :description %></td>
            </div>
        </tr>
        <tr>
            <td>
                <div class="actions">
                    <%= form.submit %>
                </div>
            </td>
        </tr>
    </table>
<% end %>
