<!DOCTYPE html>
<html>
  <head>
    <title>Mlemmlem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="header">
        <%= link_to "ホーム", root_path %>
        <% if user_signed_in? %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <p>こんにちは、<%= current_user.name %></p>
        <% else %>
            <%= link_to "サインイン", new_user_session_path %>
            <%= link_to "ユーザ登録", new_user_registration_path %>
        <% end %>
    </div>
   <div class="container">
        <%= yield %>
   </div>
  </body>
</html>
